<body>

    <main class="container-fluid">
        <div class=row>
            <div class="col col-md-12">
                <br />
                <h1>Web App Developers - Fall 2019</h1>
                <br />
                <hr>
                <h3>During development, test api here.</h3>
                <br />
                <br />
                <br />
<!--
                <%var obj = require('data/students.json')%>
                <select class="browser-default custom-select" id = "value">
                    <option selected>Open this select menu</option>
                    
                    <option value="1">%= obj._id%</option>
                    <option value="1"></option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
  
-->
                    <h4>Student: Test GET JSON by URL</h4>
                    <ol>
                        <li>
                            <a href="http://localhost:3004/student/findall">http://localhost:3004/student/findall</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/student/findone/100">http://localhost:3004/student/findone/100</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/student/findone/101">http://localhost:3004/student/findone/101</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/student/findone/102">http://localhost:3004/student/findone/102</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/student/findone/103">http://localhost:3004/student/findone/103</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/student/findone/104">http://localhost:3004/student/findone/104</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
                        </li>
                    </ol>

                    <br>

                    <h4>Instructor: Test GET JSON by URL</h4>
                    <ol>
                        <li>
                            <a href="http://localhost:3004/instructor/findall">http://localhost:3004/instructor/findall</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/instructor/findone/106">http://localhost:3004/instructor/findone/106</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/instructor/findone/107">http://localhost:3004/instructor/findone/107</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/instructor/findone/108">http://localhost:3004/instructor/findone/108</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/instructor/findone/109">http://localhost:3004/instructor/findone/109</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/instructor/findone/110">http://localhost:3004/instructor/findone/110</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
                        </li>
                    </ol>

                    <br>

                    <h4>Section: Test GET JSON by URL</h4>
                    <ol>
                        <li>
                            <a href="http://localhost:3004/section/findall">http://localhost:3004/section/findall</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/section/findone/119">http://localhost:3004/section/findone/119</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/section/findone/120">http://localhost:3004/section/findone/120</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/section/findone/121">http://localhost:3004/section/findone/121</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/section/findone/122">http://localhost:3004/section/findone/122</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/section/findone/123">http://localhost:3004/section/findone/123</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
                        </li>
                    </ol>

                    <br>

                    <h4>Course: Test GET JSON by URL</h4>
                    <ol>
                        <li>
                            <a href="http://localhost:3004/course/findall">http://localhost:3004/course/findall</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/course/findone/112">http://localhost:3004/course/findone/112</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/course/findone/113">http://localhost:3004/course/findone/113</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/course/findone/114">http://localhost:3004/course/findone/114</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/course/findone/115">http://localhost:3004/course/findone/115</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/course/findone/116">http://localhost:3004/course/findone/116</a>
                        </li>
                        <li>
                            <a href="http://localhost:3004/newpage">http://localhost:3004/newpage</a>
                        </li>
                    </ol>

                    <br>
                    <hr>

                <h4>Student: Test Requests to GET a view</h4>
                <ol>
                    <li> <a href="http://localhost:3004/student">http://localhost:3004/student</a>
                    </li>
                    <li> <a href="http://localhost:3004/student/create">http://localhost:3004/student/create</a>
                    </li>
                    <li> <a href="http://localhost:3004/student/edit/100">http://localhost:3004/student/edit/100</a>
                    </li>
                    <li> <a
                            href="http://localhost:3004/student/delete/101">http://localhost:3004/student/delete/101</a>
                    </li>
                    <li> <a
                            href="http://localhost:3004/student/details/102">http://localhost:3004/student/details/102</a>
                    </li>
                </ol>

                <br>

                <h4>Instructor: Test Requests to GET a view</h4>
                <ol>
                    <li> <a href="http://localhost:3004/instructor">http://localhost:3004/instructor</a>
                    </li>
                    <li> <a href="http://localhost:3004/instructor/create">http://localhost:3004/instructor/create</a>
                    </li>
                    <li> <a href="http://localhost:3004/instructor/edit/106">http://localhost:3004/instructor/edit/106</a>
                    </li>
                    <li> <a
                            href="http://localhost:3004/instructor/delete/107">http://localhost:3004/instructor/delete/107</a>
                    </li>
                    <li> <a
                            href="http://localhost:3004/instructor/details/108">http://localhost:3004/instructor/details/108</a>
                    </li>
                </ol>

                <br>

                <h4>Section: Test Requests to GET a view</h4>
                <ol>
                    <li> <a href="http://localhost:3004/section">http://localhost:3004/section</a>
                    </li>
                    <li> <a href="http://localhost:3004/section/create">http://localhost:3004/section/create</a>
                    </li>
                    <li> <a href="http://localhost:3004/section/edit/119">http://localhost:3004/section/edit/119</a>
                    </li>
                    <li> <a
                            href="http://localhost:3004/section/delete/120">http://localhost:3004/section/delete/120</a>
                    </li>
                    <li> <a
                            href="http://localhost:3004/section/details/121">http://localhost:3004/section/details/121</a>
                    </li>
                </ol>

                <br>

                <h4>Course: Test Requests to GET a view</h4>
                <ol>
                    <li> <a href="http://localhost:3004/course">http://localhost:3004/course</a>
                    </li>
                    <li> <a href="http://localhost:3004/course/create">http://localhost:3004/course/create</a>
                    </li>
                    <li> <a href="http://localhost:3004/course/edit/112">http://localhost:3004/course/edit/112</a>
                    </li>
                    <li> <a
                            href="http://localhost:3004/course/delete/113">http://localhost:3004/course/delete/113</a>
                    </li>
                    <li> <a
                            href="http://localhost:3004/course/details/114">http://localhost:3004/course/details/114</a>
                    </li>
                </ol>

            </div>
        </div>
    </main>
    <hr>


</body>

</html>